// app global css in SCSS form

.fitSnugly {
  width: 100vw;
  height: 100vh;
}

@font-face {
  font-family: 'WT-ClearText-Bold';
  src: url('https://b.jw-cdn.org/fonts/wt-clear-text/1.019/Wt-ClearText-Bold.woff2');
}
@font-face {
  font-family: 'JW-Icons';
  src: url('https://wol.jw.org/assets/fonts/jw-icons-external-1970474.woff');
}

@font-face {
  font-family: 'NotoSerif';
  src: url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@100..900&display=swap');
}

#yeartext {
  font-family: 'WT-ClearText-Bold', 'NotoSerif', serif;
  align-content: center;
  text-align: center;
  color: white !important;
  font-size: 4vw;
  line-height: 2vw;
  font-weight: 800;
  margin: auto;
  bottom: 0;
  right: 0;
  letter-spacing: 0.05rem;
}

.themeScrp {
  margin: 1em;
}

.themeScrp a {
  color: white;
  text-decoration: none;
  outline: 0;
  pointer-events: none;
}

#yeartextLogoContainer {
  font-size: 16vh;
  position: absolute;
  bottom: 12vh;
  right: 14vh;
  color: black !important;
  line-height: normal !important;
  box-sizing: unset;
  background: rgba(255, 255, 255, 0.2);
  border: rgba(255, 255, 255, 0) 1.5vh solid;
  height: 12vh;
  width: 12vh;
  overflow: hidden;
  font-family: 'JW-Icons';

  #yeartextLogo {
    margin: -2.5vh -2vh;
  }
}

body.body--light {
  background: $primary-bg;
}
body.body--dark {
  background: #363c49;

  .meeting-section {
    background: $dark;
  }
}

.meeting-section {
  background: white;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 0px;
  border-top-width: 0px;
  border-style: solid;
  border-color: $accent-300;

  &.meeting-section.meeting-section-skeleton {
    border-color: $accent-300;
  }

  &.meeting-section-begin {
    margin-top: 1em;
    border-top-right-radius: 0.75em;
    border-top-left-radius: 0.75em;
    border-top-width: 1px;
  }

  &.meeting-section-end {
    margin-bottom: 1em;
    border-bottom-right-radius: 0.75em;
    border-bottom-left-radius: 0.75em;
    border-bottom-width: 1px;
  }
}

.meeting-section-internal {
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-left: 1.5em;

  &.begin {
    margin-top: 0.5em;
  }

  &.end {
    margin-bottom: 0.5em;
  }

  &:before {
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    width: 0.75em;
  }

  &.end:before {
    border-bottom-left-radius: 5em;
    border-bottom-right-radius: 5em;
  }

  &.begin:before {
    border-top-left-radius: 5em;
    border-top-right-radius: 5em;
  }

  &.tgw:before {
    background: $treasures;
  }

  &.ayfm:before {
    background: $apply;
  }

  &.lac:before {
    background: $living;
  }

  &.wt:before {
    background: $apply;
  }

  &.additional {
    border-color: rgb(91, 60, 136);
    // todo: change this like others
  }
}

.jw-icon {
  font-family: 'JW-Icons';
  &.tgw {
    color: $treasures;
  }

  &.ayfm {
    color: $apply;
  }

  &.lac {
    color: $living;
  }

  &.wt {
    color: $apply;
  }
}

.media-tag.paragraph {
  background: $accent-200;
}

.media-tag.song {
  background: $accent-400;
}

.text-white-transparent {
  color: $whiteTransparent;
}

.bg-white-transparent {
  background: $whiteTransparent;
}

.q-btn {
  border-radius: 6px;
  letter-spacing: 0.02em;
  font-weight: 400;
  // font-size: 14px;
}

.q-menu {
  border: 1px solid $accent-300;
  box-shadow: 0px 8px 24px 0px $shadow;
  font-size: 0.9em;
}

.super-rounded {
  border-radius: 6em;
}

.round-card {
  border-radius: 1em;
}

.text-dark-grey {
  color: $dark-grey;
}

.card-title {
  font-size: 1.1em;
  text-transform: uppercase;
  color: $grey;
  margin-bottom: 1em;
  font-weight: 500;
}

.card-section-title {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 0.25em;
}

.duration-slider {
  width: calc(100% - 207px);
  bottom: -8px;
  right: 16px;
}

.semi-black {
  background-color: $semi-black;
}

.bg-accent-200 {
  background-color: $accent-200;
}

.bg-accent-300 {
  background-color: $accent-300;
}
