// app global css in SCSS form

.fitSnugly {
  width: 100vw;
  height: 100vh;
}

@font-face {
  font-family: 'WT-ClearText-Bold';
  src: url('https://b.jw-cdn.org/fonts/wt-clear-text/1.019/Wt-ClearText-Bold.woff2');
}
@font-face {
  font-family: 'JW-Icons';
  src: url('https://wol.jw.org/assets/fonts/jw-icons-external-1970474.woff');
}

@font-face {
  font-family: 'NotoSerif';
  src: url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@100..900&display=swap');
}

#yeartext {
  font-family: 'WT-ClearText-Bold', 'NotoSerif', serif;
  align-content: center;
  text-align: center;
  color: white !important;
  font-size: 4vw;
  line-height: 2vw;
  font-weight: 800;
  margin: auto;
  bottom: 0;
  right: 0;
  letter-spacing: 0.05rem;
}

.themeScrp {
  margin: 1em;
}

.themeScrp a {
  color: white;
  text-decoration: none;
  outline: 0;
  pointer-events: none;
}

#yeartextLogoContainer {
  font-size: 16vh;
  position: absolute;
  bottom: 12vh;
  right: 14vh;
  color: black !important;
  line-height: normal !important;
  box-sizing: unset;
  background: rgba(255, 255, 255, 0.2);
  border: rgba(255, 255, 255, 0) 1.5vh solid;
  height: 12vh;
  width: 12vh;
  overflow: hidden;
  font-family: 'JW-Icons';

  #yeartextLogo {
    margin: -2.5vh -2vh;
  }
}

.meeting-section {
  border-left: 10px solid;
}

.meeting-section.meeting-section-skeleton {
  border-color: rgba(0, 0, 0, 0.12);
}

.meeting-section-begin {
  margin-top: 1em;
}

.meeting-section-end {
  margin-bottom: 1em;
}

.meeting-section-tgw {
  border-color: rgb(60, 127, 139);
  background-color: rgb(60, 127, 139, 0.1);
}
/*
.meeting-section-begin-tgw {
  border-top: 5px solid rgb(60, 127, 139, 0.25);
}

.meeting-section-end-tgw {
  border-bottom: 5px solid rgb(60, 127, 139, 0.25);
} */

.meeting-section-ayfm {
  border-color: rgb(214, 143, 0);
  background-color: rgb(214, 143, 0, 0.1);
}

/* .meeting-section-begin-ayfm {
  border-top: 5px solid rgb(214, 143, 0, 0.25);
}

.meeting-section-end-ayfm {
  border-bottom: 5px solid rgb(214, 143, 0, 0.25);
} */

.meeting-section-lac {
  border-color: rgb(191, 47, 19);
  background-color: rgb(191, 47, 19, 0.1);
}

/* .meeting-section-begin-lac {
  border-top: 5px solid rgb(191, 47, 19, 0.25);
}

.meeting-section-end-lac {
  border-bottom: 5px solid rgb(191, 47, 19, 0.25);
} */

.meeting-section-wt {
  border-color: rgb(214, 143, 0);
  background-color: rgb(214, 143, 0, 0.1);
}

/* .meeting-section-begin-wt {
  border-top: 5px solid rgb(214, 143, 0, 0.25);
}

.meeting-section-end-wt {
  border-bottom: 5px solid rgb(214, 143, 0, 0.25);
} */

.meeting-section-additional {
  border-color: rgb(91, 60, 136);
  background-color: rgb(91, 60, 136, 0.1);
}
/*
.meeting-section-begin-additional {
  border-top: 5px solid rgb(91, 60, 136, 0.25);
}

.meeting-section-end-additional {
  border-bottom: 5px solid rgb(91, 60, 136, 0.25);
} */
