@font-face {
    font-family: mmm-icons;
    src: url("mmm-icons.eot");src: url("mmm-icons.eot?f19f8c1e#iefix") format("embedded-opentype"),
             url("mmm-icons.woff2?f19f8c1e") format("woff2"),
             url("mmm-icons.woff?f19f8c1e") format("woff"),
             url("mmm-icons.ttf?f19f8c1e") format("truetype"),
             url("mmm-icons.svg?f19f8c1e#mmm-icons") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="mmm"], [class*=" mmm"] {
    font-family: 'mmm-icons';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
}


.mmm-additional-media, .mmm-advanced-settings, .mmm-arrow-back, .mmm-arrow-forward, .mmm-arrow-outward, .mmm-background-remove, .mmm-background, .mmm-calendar-month, .mmm-check, .mmm-clear, .mmm-cloud-done, .mmm-cloud-error, .mmm-cloud, .mmm-configuration, .mmm-congregation, .mmm-delete-all, .mmm-delete-smart, .mmm-delete, .mmm-display-current, .mmm-down, .mmm-drag-n-drop, .mmm-dropdown-arrow, .mmm-edit, .mmm-error, .mmm-file, .mmm-footnote, .mmm-fullscreen, .mmm-github, .mmm-go-to-date, .mmm-groups, .mmm-guide, .mmm-import-media, .mmm-info, .mmm-integrations, .mmm-jwlplaylist, .mmm-jwpub, .mmm-lectern, .mmm-left, .mmm-local-media, .mmm-media-display-active, .mmm-media-display-inactive, .mmm-media-settings, .mmm-media, .mmm-menu, .mmm-minus, .mmm-mirror, .mmm-movie, .mmm-music-note, .mmm-obs-studio, .mmm-open-web, .mmm-paragraph, .mmm-pause, .mmm-picture_in_picture, .mmm-play-sign-language, .mmm-play, .mmm-plus, .mmm-refresh, .mmm-reset, .mmm-right, .mmm-search, .mmm-settings, .mmm-stop, .mmm-stream-now, .mmm-subtitles-off, .mmm-subtitles, .mmm-time, .mmm-tools, .mmm-window {
    font-family: 'mmm-icons';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
}



.mmm-additional-media::before {
    content: "\ea01";
}

.mmm-advanced-settings::before {
    content: "\ea02";
}

.mmm-arrow-back::before {
    content: "\ea03";
}

.mmm-arrow-forward::before {
    content: "\ea04";
}

.mmm-arrow-outward::before {
    content: "\ea05";
}

.mmm-background-remove::before {
    content: "\ea06";
}

.mmm-background::before {
    content: "\ea07";
}

.mmm-calendar-month::before {
    content: "\ea08";
}

.mmm-check::before {
    content: "\ea09";
}

.mmm-clear::before {
    content: "\ea0a";
}

.mmm-cloud-done::before {
    content: "\ea0b";
}

.mmm-cloud-error::before {
    content: "\ea0c";
}

.mmm-cloud::before {
    content: "\ea0d";
}

.mmm-configuration::before {
    content: "\ea0e";
}

.mmm-congregation::before {
    content: "\ea0f";
}

.mmm-delete-all::before {
    content: "\ea10";
}

.mmm-delete-smart::before {
    content: "\ea11";
}

.mmm-delete::before {
    content: "\ea12";
}

.mmm-display-current::before {
    content: "\ea13";
}

.mmm-down::before {
    content: "\ea14";
}

.mmm-drag-n-drop::before {
    content: "\ea15";
}

.mmm-dropdown-arrow::before {
    content: "\ea16";
}

.mmm-edit::before {
    content: "\ea17";
}

.mmm-error::before {
    content: "\ea18";
}

.mmm-file::before {
    content: "\ea19";
}

.mmm-footnote::before {
    content: "\ea1a";
}

.mmm-fullscreen::before {
    content: "\ea1b";
}

.mmm-github::before {
    content: "\ea1c";
}

.mmm-go-to-date::before {
    content: "\ea1d";
}

.mmm-groups::before {
    content: "\ea1e";
}

.mmm-guide::before {
    content: "\ea1f";
}

.mmm-import-media::before {
    content: "\ea20";
}

.mmm-info::before {
    content: "\ea21";
}

.mmm-integrations::before {
    content: "\ea22";
}

.mmm-jwlplaylist::before {
    content: "\ea23";
}

.mmm-jwpub::before {
    content: "\ea24";
}

.mmm-lectern::before {
    content: "\ea25";
}

.mmm-left::before {
    content: "\ea26";
}

.mmm-local-media::before {
    content: "\ea27";
}

.mmm-media-display-active::before {
    content: "\ea28";
}

.mmm-media-display-inactive::before {
    content: "\ea29";
}

.mmm-media-settings::before {
    content: "\ea2a";
}

.mmm-media::before {
    content: "\ea2b";
}

.mmm-menu::before {
    content: "\ea2c";
}

.mmm-minus::before {
    content: "\ea2d";
}

.mmm-mirror::before {
    content: "\ea2e";
}

.mmm-movie::before {
    content: "\ea2f";
}

.mmm-music-note::before {
    content: "\ea30";
}

.mmm-obs-studio::before {
    content: "\ea31";
}

.mmm-open-web::before {
    content: "\ea32";
}

.mmm-paragraph::before {
    content: "\ea33";
}

.mmm-pause::before {
    content: "\ea34";
}

.mmm-picture_in_picture::before {
    content: "\ea35";
}

.mmm-play-sign-language::before {
    content: "\ea36";
}

.mmm-play::before {
    content: "\ea37";
}

.mmm-plus::before {
    content: "\ea38";
}

.mmm-refresh::before {
    content: "\ea39";
}

.mmm-reset::before {
    content: "\ea3a";
}

.mmm-right::before {
    content: "\ea3b";
}

.mmm-search::before {
    content: "\ea3c";
}

.mmm-settings::before {
    content: "\ea3d";
}

.mmm-stop::before {
    content: "\ea3e";
}

.mmm-stream-now::before {
    content: "\ea3f";
}

.mmm-subtitles-off::before {
    content: "\ea40";
}

.mmm-subtitles::before {
    content: "\ea41";
}

.mmm-time::before {
    content: "\ea42";
}

.mmm-tools::before {
    content: "\ea43";
}

.mmm-window::before {
    content: "\ea44";
}

