name: Build/release

on:
  push:
  pull_request:

jobs:
  release:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Read package version
        uses: ZvonimirSun/read-package-version-actions@v2
        id: package-version

      - name: Version check
        run: |
          echo "Current version: ${{ steps.package-version.outputs.version }}"

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'yarn'

      - uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - run: pip install setuptools
      - run: yarn install && yarn global add @quasar/cli

      - name: Build and Publish Electron App
        run: yarn quasar build -m electron
        env:
          GITHUB_TOKEN: ${{ github.token }}
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}

      - run: yarn install && yarn global add @sentry/cli
        name: Install Sentry CLI

      # TODO: Eventually switch over to Debug IDs instead of Source Maps by hooking into the Electron build before it's published
      # - run: yarn sentry-cli sourcemaps inject ./dist/electron/UnPackaged/assets
      #   name: Inject Debug IDs into Artifacts

      - run: yarn sentry-cli --auth-token ${{ secrets.SENTRY_AUTH_TOKEN }} sourcemaps upload --org 'jw-projects' --project 'mmm-v2' --release ${{ steps.package-version.outputs.version}}  .
        name: Upload Source Maps to Sentry
