name: Build/release

on:
  push:
    branches-ignore:
      - 'dependabot/**'
  pull_request: 

jobs:
  release:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'yarn'



      - uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - run: pip install setuptools
      - run: yarn install && yarn global add @quasar/cli

      - run: yarn quasar build -m electron -P always
        env:
          GITHUB_TOKEN: ${{ github.token }}
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}


   #   - name: Build/release Electron app
  #    uses: samuelmeuli/action-electron-builder@v1
  #    with:
  #      github_token: ${{ secrets.github_token }}
  #      release: ${{ startsWith(github.ref, 'refs/tags/v') }}
